.full-container {
    height: 100vh;
    width: 100%;
}

.perfect-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    height: 100%;
    width: 100%;
}

.vertically-center {
    display: flex;
    align-items: center;
}

#jumbotronTitle {
    font-size: 64px;
}

#illustration {
    height: 50vh;
}

.pure-grid {
    width: 100%;
}

.custom-row {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
}